

a{
	color:white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;



}

#andrey1 {
	
	color:white;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;  
	font-size: 60px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#obon {
	
	color:white;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;  
	font-size: 20px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#socceti {
	
	color:white;
 display: flex;
  justify-content: center;
  align-items: center;
	font-size: 25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body{
    background-image: url('https://media.tenor.com/cD2QMw7luHMAAAAC/black-white.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

hr {
	
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  color:#ff0081;
  
}

#pon {
	
 	
    display: block;
    margin-left: auto;
    margin-right: auto;
	
}

#obon2 {
	
	color:white;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;  
	font-size: 20px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#alb {
	
 	
    display: block;
    margin-left: auto;
    margin-right: auto;
border:3px solid white;
	
}

#obon3 {
	
	color:white;
	text-align: center;
    vertical-align: middle;
    line-height: 50px;  
	font-size: 20px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	display: block;
    margin-left: auto;
    margin-right: auto;
}